<a href="https://colab.research.google.com/github/Manikandan-professional/Nifty50-Data-Analysis/blob/main/Nifty50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Nifty50 Data Analysis**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
a=pd.read_csv('https://raw.githubusercontent.com/Manikandan-professional/Nifty50-Data-Analysis/main/NIFTY50Stocks.csv')
a

            DATE  TATASTEEL   WIPRO  ...  BAJAJ-AUTO  ASIANPAINT     UPL
0     2010-01-11     591.90  423.70  ...     1530.75     2705.05     NaN
1     2010-01-12     613.55  414.70  ...     1571.20     2680.40     NaN
2     2010-02-11     599.05  433.85  ...     1548.75     2792.80     NaN
3     2010-02-12     622.75  426.05  ...     1574.30     2651.85     NaN
4     2010-03-11     609.60  434.70  ...     1582.35     2694.90     NaN
...          ...        ...     ...  ...         ...         ...     ...
2721  2021-12-04     851.55  432.60  ...     3541.00     2602.20  589.55
2722  2021-12-05    1179.15  507.60  ...     3875.25     2556.20  691.65
2723  2021-12-07    1226.95  525.85  ...     3956.15     2999.40  821.45
2724  2021-12-08    1435.35  605.85  ...     3769.35     2975.50  777.10
2725  2021-12-10    1329.10  659.10  ...     3978.75     3323.25  744.30

[2726 rows x 47 columns]

In [ ]:
df=pd.DataFrame(a)
df.head()

         DATE  TATASTEEL   WIPRO  ...  BAJAJ-AUTO  ASIANPAINT  UPL
0  2010-01-11     591.90  423.70  ...     1530.75     2705.05  NaN
1  2010-01-12     613.55  414.70  ...     1571.20     2680.40  NaN
2  2010-02-11     599.05  433.85  ...     1548.75     2792.80  NaN
3  2010-02-12     622.75  426.05  ...     1574.30     2651.85  NaN
4  2010-03-11     609.60  434.70  ...     1582.35     2694.90  NaN

[5 rows x 47 columns]